{
  "web": {
    "client_id": "<google credentials client id>",
    "client_secret": "<google credentials client secret>",
    "redirect_uris": [
      "http://127.0.0.1:8080/api"
    ],
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://accounts.google.com/o/oauth2/token"
  }
}